.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.trigger {
  width: 100%;
  background-color: var(--light);
}

.trigger:focus {
  border: 2.5px solid #1f2937;
}

.content {
  background-color: var(--light);
  border: 1px solid #e1e8f0;
  color: red;
}

.optionContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.optionContainer[aria-selected="true"] .optionTitle {
  color: #ffffff;
}

.optionDescription {
  font-size: 14px;
  color: var(--tertiary);
}