.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.textarea {
  padding: 10px 20px 0;
  color:#324154 ;
  outline: none;
  border: 1px solid #e1e8f0;
  border-radius: 5px;
  margin-top: 10px;
  min-height: 100px;
  resize: vertical;
}

.textarea:placeholder-shown {
  padding: 10px;
}

.textarea:focus {
  border:2.5px solid black;
}