.container {
  min-height: 100vh;
  background-color: var(--light);
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2rem 7.5rem 0;
}

.backButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--light);
  margin-bottom: 1.5rem;
  color : black;
  border-radius: 5px;
  border: 1px solid #e1e8f0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.backButton:hover {
  background-color: orange;
  transition: 0.2s;
  color: var(--light);
}
