.pageContainer {
  min-height: 100vh;
  background-color: #fff;
}

.contentContainer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 1rem;
}


.backButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--light);
  margin-bottom: 1.5rem;
  color : black;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.backButton:hover {
  background-color: #fa7516;
  transition: 0.2s;
  color: var(--light);
}

.backIcon {
  margin-right: 0.5rem;
  height: 1rem;
  width: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
  }
}