.dialogContent {
  max-width: 56rem;
  overflow-y: auto;
  max-height: 90vh;
}

.mobilePadding {
  padding: 1rem;
}

.desktopPadding {
  padding: 1.5rem;
}

.dialogTitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

@media (min-width: 640px) {
  .dialogTitle {
    font-size: 1.875rem;
    margin-bottom: 2rem;
  }
}

.stepsContainer {
  display: grid;
  gap: 1rem;
  padding: 1rem 0;
}

@media (min-width: 640px) {
  .stepsContainer {
    gap: 2rem;
    padding: 1.5rem 0;
  }
}

.stepItem {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

@media (min-width: 640px) {
  .stepItem {
    gap: 1.5rem;
  }
}

.iconContainer {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  background-color: #cffbff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrapper {
  color: #0790b3;
}

@media (prefers-color-scheme: dark) {
  .iconContainer {
    background-color: #cffbff;
  }

  .iconWrapper {
    color: #0790b3;
  }
}

@media (min-width: 640px) {
  .iconContainer {
    width: 4rem;
    height: 4rem;
  }
}

.stepIcon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 640px) {
  .stepIcon {
    width: 2rem;
    height: 2rem;
  }
}

.textContainer {
  flex: 1;
  min-width: 0;
}

.stepTitle {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

@media (min-width: 640px) {
  .stepTitle {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
}

.stepDescription {
  font-size: 0.875rem;
  color:#4c5663;
}

@media (prefers-color-scheme: dark) {
  .stepDescription {
    color: #4c5663;
  }
}

@media (min-width: 640px) {
  .stepDescription {
    font-size: 1rem;
  }
}