.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.heading {
  font-size: 1.125rem;
  font-weight: 600;
}

.allergyMainGrid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.allergyOptionsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

@media (max-width: 768px) {
  .allergyOptionsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .allergyOptionsGrid {
    grid-template-columns: 1fr;
  }
}

.noAllergiesOption {
  width: 100%;
}

.allergyOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 16px;
}

.otherAllergiesSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.otherAllergiesInput {
  display: flex;
  gap: 8px;
}

.addButton {
  padding: 8px 16px;
  background-color: #0790b3;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.addButton:hover {
  transition: all 0.2s ease;
  background-color: #09b6ca;
}

.allergiesBadgeContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.allergyBadge {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #164f63;
  color: #fff;
  padding: 4px 8px;
  border-radius: 50px;
}

.removeBadgeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 4px;
}

.removeBadgeButton:hover {
  color: red;
}

.removeIcon {
  color:#fff;
  width: 12px;
  height: 12px;
}