.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .bubbleContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .optionsGrid {
    display: grid;
    gap: 1rem;
  }